html {
    font-family: Helvetica, sans-serif;
}

header>h1{
    text-transform: uppercase;
}

h1,
nav,
li{
    display: inline-block;
    
}

main>h1{
    padding-top: 20px;
}

li {
	margin-right: 30px;
}

a{
    text-decoration: none;
    color: rgb(6, 159, 6);
}
